/* ===== if user brawses in dark mode, then apply dark mode ===== */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
} */

/* =====폰트===== */
body{
 margin: 0;
 padding: 0,50px,50px,50px;
 font-family: 'Rubik', 'Assistant', sans-serif;
 color: #2e2e2e;
 background-color: #fff;
}
body.dark{
  background-color: #464647;
}

a{
  color: #2e2e2e;
}
a.dark{
  color: #a0a0a0;
}

.project-name{
  font-size: 20px;
  font-weight: bold;
  display: inline;
  position: relative;
  left: 20px; top: 20px;
}
.m-link{
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #a0a0a0;
}
h1{
  /* font-family: 'Assistant', sans-serif; */
  font-size: 40px;
  text-align: left;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #a0a0a0;
}
h2.dark{
  color: #35ff26;
}
h2{
  /* font-family: 'Assistant', sans-serif; */
  /* font-weight: 200; */
  font-size: 48px;
  text-align: left;
  color: #1E67EA;
  letter-spacing: -0.5px;
  font-weight: 400;
  /* border-bottom: 0.5px solid rgba(0,0,0,0.3);
  padding-bottom: 50px;
  padding-top: 100px; */
}
h3{
  /* font-family: 'Assistant', sans-serif; */
}
.subText{
  /* font-family: 'Assistant', sans-serif; */
  font-size: 16px;
  opacity: 0.8
}
p{
  font-size: 18px;
  font-family: 'SpoqaHansSans', 'Rubik', sans-serif;
  color: #2e2e2e;
  font-weight: 300;
}
p.dark{
  color: #fff;
}

/* ========레이아웃 잡기======= */

/* dark mode toggle button */
  /* https://www.w3schools.com/howto/howto_css_switch.asp */
#header{
  max-width: 940px;
  height: 48px;
  background-color: #d8d8d8;
  margin: auto;
}
#header.dark{
  background-color: #393939;
}

#switch-name{
  font-size: 18px;
  top: 13px;
  left: 16px;
  position: relative;
  color: #575a61;
  letter-spacing: -0.2px;
}
#switch-name.dark{
  color: #a0a0a0;
}
/* 버튼의 배경을 둘러싸고 있는 컨테이너이자 실질적으로 버튼 역할(label)- label 눌러도 스위치를 동작시킬 수 있기 때문*/
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  /* vertical-align: middle; */
  /* top: 50%; */
  left: 20px;
  top: 10px;
  /* transform: translate(0, -50%); */
}
/* <input> 스위치 (실제로는 안보임) */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* 버튼 배경(타원) - 여기 적용된 transition은 버튼 배경색의 애니메이션임 */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .1s;
  transition: .1s;
}
/* 버튼(원) - unchecked 상태(darkmode OFF)일떄 slider(동그라미)의 default 상태 */
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1px;
  background-color: #d8d8d8;
  -webkit-transition: .1s;
  transition: .1s;
}
/* 버튼 배경(타원) - checked(darkmode ON)일 때 변화하는 버튼 배경의 색상 */
input:checked + .slider {
  background-color: #01F801;
}
/* 이건 왜 있는지 모르겠음 */
input:focus + .slider {
  box-shadow: 0 0 1px #01F801;
}
/* 버튼(원) - checked 상태(darkmode ON)일떄 slider(동그라미)의 default 상태 */
input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background-color: #ffffff;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* remove transition */
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


/* whole container */
.w-container{
  padding-top: 80px;
  margin: auto;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.mezzanine{
  margin-bottom: 100px;
}

/* flex 세팅 */
/* .container{
  display: flex;
  justify-content: center;
}
.item:nth-child(1){
  flex-basis: 540px;
  }
.item:nth-child(2){
  width: 240px;
  display: block;
  margin: auto;
  padding-right: 80px;
  padding-top: 80px;
  }
.item:nth-child(2) img{
  width: 100%;
} */

/* 타이틀 부분 스타일 */
.title-container{
  display: flex;
}
#signature{
  left: 0px;
  flex-basis: auto;
  margin-right: 40px;
  height: 136px;
  width: 273px;
  flex-shrink: 0;
}
p{
  display: flex;
  margin-top: 10px;
}


/* =====박스 그리기===== */
.content-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-box{
  width: 460px;
  height: 280px;
  flex-shrink: 0;
  background-color: #EEEEEE;
  margin-top: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#tplace{
  /* background-size: cover; */
  background-image: url('images/tplace_main.png');
}
#hyundai-card-app{
  /* background-size: cover; */
  background-image: url('images/hyundai-card-app_main.jpg');
}
#digital-hyundai-card{
  /* background-size: cover; */
  background-image: url('images/digital-hyundai-card_main.png');
  /* background-position: center; */
}
#hyundai-certified-used-car{
  /* background-size: 100%; */
  background-image: url('images/hyundai-certified-used-car_main.png');
  /* background-position: 50% 95%; */
  /* background-repeat: no-repeat; */
}
#thesis{
  background-image: url('images/thesis_footer.jpg');
}

/* ===== hover 시 효과 ===== */
.overlay {
  /* position: relative; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(1, 1, 1, 0.5);
}
.overlay:hover {
    opacity: 1;
}
.text{
  color: white;
  font-size: 24px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  display: block;
  text-decoration: none;
  /* height: 100%; */
}
.link{
  display: block;
  height: 100%;
}
.project-thumbnail{
  height: 280px;
  /* float: right; */
}
/* img{
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
} */
/* #grid{
  margin: auto;
  display: grid;
  grid-template-columns: 540px 1fr;
} */
/* width < 767 */
@media(max-width:767px){
  #grid{
    display: block;
  }
}
/* width > 1480인 경우 더 이상 stretch되지 않도록 */
/* @media(min-width:1480px){
  #grid{
    display: grid;
    grid-template-columns: 494px 494px 494px;
  }
}*/


/* ========== 반응형 ========== */
@media(max-width:767px){ /* width 767px이하일 떄 */
  /* Darkmode */
  #header{
    margin: 0 -20px;
  }
  #header label{
    position: relative;
  }

  .title-container{
    flex-direction: column;
    height: auto;
    mar
    }
  .item:nth-child(1), .item:nth-child(2){
    flex-basis: auto;
    }
  .item:nth-child(2){
    /* padding-top: 0px; */
    /* top: 80px; */
    margin-bottom: 100px;
    /* position: absolute; */
    /* margin-left: 0; */
    /* width: 160px; */
  }

  /* bottom부분 반응형 */
  body{
    padding: 0 20px;
  }
  .w-container{
    width: 100%
    margin: auto;
  }
  .project-box{
    width: 100%;
    height: auto; /* 상속받지 않도록 초기화*/
    padding-top: 56.25%;
    position: relative;
  }
  .overlay{
    position: absolute;
    opacity: 0.6;
  }
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 32px;
  }
  .m-link{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #a4a4a4;
    border: 1px solid #a0a0a0;
    /* border-radius: 100px; */
    width: 110px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    box-sizing: border-box;
    /* background-color: rgba(0,0,0,0); */
  }
  .m-link:active{
    background-color: rgba(0,0,0,0.2);
    color: white;
  }
  .mezzanine{
    margin-bottom: 60px;
  }
  .text{
    font-size: 18px;
  }
}
