body{
  margin: 0;
  font-family: 'Noto Sans KR', 'Assistant', sans-serif;
  color: #2E2E2E;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}

/* ===== top 버튼 ===== */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* ===== 상단 영역 ===== */
.hero-area{
  width: auto;
  height: 560px;
  background-color: black;
  /* position: absolute; */
  top: 0;
  margin: 0 auto;
  /* display: block; */
}
#ha-tplace{
  background-color: #969696;
}
#ha-tplace div, #ha-digitalhcc div{
  color: black;
}
#ha-tplace .project-name, #ha-digitalhcc .project-name{
  color: black;
  opacity: 0.7;
}
#ha-usedcar{
  background-color: #2391EF;
}
#ha-digitalhcc{
  background-color: #E0E0E0;
}
#ha-thesis{
  background-color: #862633;
}
.hero-content-container{
  position: relative;
  margin: auto;
  width: 940px;
  top: 60px;
  height: auto;
  /* height: 100%; */
}
.back{
  cursor: pointer;
}
.project-icon{
  float: right;
  margin: 0;
  top: 50%;
  position: absolute;
  right: 0;
  height: 120px;
  /* transform: translate(-50%, -50%); */
}
.hero-text{
  position: relative;
  color: white;
  margin: 0 auto;
  font-size: 3rem;
  /* top: 120px; */
  height: auto;
  margin-top: 120px;
}
#ha-tplace .hero-text, #ha-digitalhcc .hero-text{
  color: black;
}
.hero-text img{
  float: right;
}
.project-name{
  /* margin-top: 130px; */
  /* font-size: 20px; */
  font-size: 1.25rem;
  color: white;
  opacity: 0.7;
  /* float: left; */
  /* top: 130px; */
  padding-top: 0.7rem;
  position: relative;
}


/* ===== mezzanine 영역 ===== */
.mezzanine-area{
  max-width: 100%;
  height: 340px;
  background-color: #CECECE;
  /* position: absolute; */
  top: 540px;
}
.title_small{
  position: relative;
  width: 940px;
  margin: 0 auto;
  top: 60px;
  font-weight: 500;
  opacity: 0.5;
  /* font-size: 20px; */
  font-size: 1.25rem;
  align-content: center;
}
.tooltip{
  vertical-align: bottom;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  width: 1.5rem;
  height: 24px;
  width: 24px;
  box-sizing: content-box;
  background-image: url("images/info_icon.png");
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.tooltiptext{
  /* visibility: hidden; */
  display: none;
  width: max-content;
  background-color: black;
  color: #fff;
  /* text-align: center; */
  border-radius: 6px;
  padding: 5px 15px;
  /* font-size: 16px; */
  font-size: 1rem;
  font-weight: 300;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}
/* .tooltip:hover + .tooltiptext {
  display: inline;
  position: relative;
  left: auto;
  right: 30px;
  top: 32px;
} */

.ah-container{
  display: flex;
  width: 940px;
  margin: 0 auto;
  top: 80px;
  position: relative;
}
.ah-item{
  flex-basis: 33%;
}
.ah-figure{
  /* font-size: 64px; */
  font-size: 4rem;
  margin: 0 auto;
  font-weight: 400;
}
.ah-caption{
  /* font-size: 24px; */
  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: 300;
}

/* ===== 본문 영역 ===== */
.body-content{
  width: 940px;
  height: auto;
  margin: 0 auto;
  /* border: 2px solid red; */
  /* position: relative; */
  top: 880px;
  padding: 40px;
}
dt{
  /* font-size: 56px; */
  font-size: 3.5rem;
  float: left;
  font-weight: 500;
  display: inline-block;
  width: 300px;
  margin-top: -8px;
  line-height: 130%;
  word-break: keep-all;
}
dd{
  margin-left: 320px;
}
dd p{
  letter-spacing: -0.3px;
  /* font-size: 18px; */
  font-size: 1.125rem;
  line-height: 32px;
}
dd br{
  line-height: 220%;
}
dl img{
  width: 100%;
  margin-top: 30px;
}
.highlight{
  background-color: rgba(255, 0, 0, 0.2);
}

/* ===== footer 영역 ===== */
.footer-area{
  width: 100%;
  height: 640px;
  position: relative;
}
.footer-area img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  vertical-align: top;
}
.footer-content{
  width: 940px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-content dt{
  /* display: inline-block; */
  /* float: left; */
  font-weight: 400;
  width: 30%;
  padding: 0;
  margin: 0 auto;
  /* font-size: 18px; */
  font-size: 1.125rem;
  line-height: 2.25rem; /* 36px */
}
.footer-content dd{
  /* margin-left: 160px; */
  font-weight: 300;
  padding: 0;
  margin: 0 auto;
  /* float: right; */
  width: 70%;
  /* font-size: 18px; */
  font-size: 1.125rem;
  line-height: 2.25rem; /* 36px */
  /* display: inline; */
}
.footer-content dl{
  width: 50%;
  color: #ffffff;
  height: 100%;
  /* overflow: hidden; */
  margin: 0;
  /* padding-bottom: 20px; */
}
.footer-content dl:first-child{
  padding-bottom: 32px;
}

.footer-link-box{
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 80px;
  width: 320px;
  /* float: right; */
  /* font-size: 18px;
  font-weight: 400;
  color: #ffffff; */
  /* vertical-align: middle; */
  /* text-align: left; */
  box-sizing: border-box;
  padding: 20px;
  /* display: flex; */
  margin-bottom: 8px;
}
.footer-link-box p{
  /* font-size: 18px; */
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
  /* vertical-align: middle; */
  /* display: inline-block; */
  /* height: auto; */
  margin: 0;
  margin-left: 20px;
  /* width: auto; */
  float: left;
  /* flex-basis: 120px; */
  line-height: 2.0;
  width: 40%;
}
.footer-link-box a{
  /* flex-basis: 60px; */
  /* cursor: pointer; */
  display: inline-block;
  margin: 0 10px;
}
.footer-link-box img{
  cursor: pointer;
}

#weblink{
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 4px;
  width: 110px;
  height: 40px;
  display: inline-block;
  /* text-align: center; */
  /* line-height: 44px; */
  box-sizing: border-box;
  padding: 0 12px 0 9px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: white;
  word-break: keep-all;
  margin: 0 auto;
  width: auto;
  line-height: 36px;
  position: absolute;
  top: 18px;
  right: 40px;
}

/* =사진 3개 연속해서 보여주기= */
.row {
  display: flex;
}
.column {
  width: 100%;
  height: auto;
}
.column:nth-child(1){
  /* flex: clac(3883/5166); */
  flex: 0.751;
}
.column:nth-child(2){
  /* flex: clac(6480/4261); */
  flex: 1.521;
}
.column:nth-child(3){
  /* flex: clac(6350/4720); */
  flex: 1.345;
}

#thesis_5 .column:nth-child(1){
  flex: 1.338;
}
#thesis_5 .column:nth-child(2){
  flex: 0.928;
}
#thesis_5 .column:nth-child(3){
  flex: 0.961;
}

#thesis_7 .column:nth-child(1){
  flex: 1.35;
}
#thesis_7 .column:nth-child(2){
  flex: 0.91;
}
#thesis_7 .column:nth-child(3){
  flex: 1.037;
}

#thesis_8 .column:nth-child(1){
  flex: 1;
}
#thesis_8 .column:nth-child(2){
  flex: 1;
}
#thesis_8 .column:nth-child(3){
  flex: 1;
}

#thesis_9 .column:nth-child(1){
  flex: 2.041;
}
#thesis_9 .column:nth-child(2){
  flex: 2.659;
}
#thesis_9 .column:nth-child(3){
  flex: 0.744;
}

/* ========== 반응형 ========== */
@media(max-width:767px){ /* width 767px이하일 떄 */
  html{
    font-size: 12px;
  }
  .w-container{
    /* position: relative; */
    max-width: 100%;
    margin: auto;
  }
  .hero-area{
    height: 480px;
  }
  .hero-content-container{
    padding: 0 20px;
    max-width: 100%;
    box-sizing: border-box; /* padding까지 포함한 width = max-width 되도록 */
    top: 40px;
  }
  .hero-text{
    word-break: keep-all;
    top: auto;
    margin-top: 10px;
  }
  .hero-text img{
    float: left;
  }
  .project-icon{
    float: none;
    display: block;
    padding-top: 50px;
    width: 80px;
    position: relative;
    height: auto;
  }
  #ha-tplace .project-icon, #ha-digitalhcc .project-icon, #ha-usedcar .project-icon{
    width: 150px;
  }
  .project-name{
    /* top: 10px; */
  }
  /* === mezzanine === */
  .mezzanine-area{
    margin-bottom: 20px; /* mobile 버전에서 body-content와의 간격 확보 */
    padding: 20px 20px 30px 20px;
  }
  .title_small{
    max-width: 100%;
    margin: auto;
    top: 20px;
    border-bottom: 1px solid gray; /* 가로선 */
    padding-bottom: 6px;
    font-size: 1.5rem;
  }
  .tooltip{
    right: 0;
    width: 24px; /* .tooltip img가 너무 작아서 별도 지정 */
    height: 24px;
    position: absolute;
    /* background-image: url("images/info_icon.png"); */
    /* background-size: cover; */
    /* background-color: transparent;
    background-repeat: no-repeat;
    border: 0; */
  }
  .tooltiptext{
    top: 28px;
    right: 0;
    left: auto;
    font-size: 1.25rem;
  }
  .ah-container{
    max-width: 100%;
    top: 40px;
    flex-direction: column;
  }
  .ah-item{
    display: flex;
    flex-basis: auto;
    margin-bottom: 20px;
  }
  .ah-figure{
    margin: 0;
    font-weight: 500;
    /* float: left; */
    /* bottom: 0; */
  }
  .ah-caption{
    margin: 35px 0 0 0;
  }

  /* === body 영역 === */
  .body-content{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    top: 880px;
    padding: 20px;
    box-sizing: border-box;
  }
  dt{
    font-size: 3.5rem;
    float: none;
    display: block;
  }
  dd{
    margin-left: 0;
  }
  dd p{
    font-size: 1.3rem;
    line-height: 1.8;
  }
  dl img{
    max-width: 100vw;
    width: auto;
    margin-left: calc(-50vw + 50%);
  }

  /* === footer 영역 === */
  .footer-area{
    width: 100%;
    height: 460px;
    position: relative;
  }
  .footer-area img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
  .footer-content{
    max-width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
  }
  .footer-content dl{
    width: 100%;
    color: #ffffff;
    height: auto;
    /* overflow: hidden; */
    margin: 0;
    padding-bottom: 20px;
  }
  /* .footer-content dl:first-child{
    padding-bottom: 20px;
  } */
  .footer-content dt{
    display: inline-block;
    float: left;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 1.125rem;
    left: 0;
  }
  .footer-content dd{
    margin-left: 160px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    width: auto;
    /* float: right; */
    font-size: 1.125rem;
    /* display: inline; */
    margin-bottom: 6px;
  }
  .footer-link-box{
    position: relative;
    /* position: absolute; */
    /* bottom: 0%; */
    float: left;
    left: 0;
    height: 80px;
    width: 100%;
    /* float: right; */
    /* font-size: 18px;
    font-weight: 400;
    color: #ffffff; */
    /* vertical-align: middle; */
    /* text-align: left; */
    box-sizing: border-box;
    padding: 20px;
    /* display: flex; */
    /* margin-bottom: 8px; */
  }
  .footer-link-box p{
    /* font-size: 18px; */
    font-size: 1.125rem;
    font-weight: 400;
    color: #ffffff;
    /* vertical-align: middle; */
    /* display: inline-block; */
    /* height: auto; */
    margin: 0;
    /* margin-left: 20px; */
    /* width: auto; */
    float: left;
    /* flex-basis: 120px; */
    line-height: 2.8;
    width: 40%;
  }
  .footer-link-box a{
    /* flex-basis: 60px; */
    /* cursor: pointer; */
    display: inline-block;
    margin: 0 10px;
  }
  .footer-link-box img{
    padding-left: 12px;
  }

  /* =사진 3개 연속해서 보여주기= */
  .row {
    flex-direction: column;
  }
  .column {
    line-height: 0;
  }
  .column img{
    margin-top: 0;
  }
}
